<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Shifts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-align-items-stretch">
      <ion-col size="12" size-md="6" *ngFor="let shift of shifts">
        <ion-card class="shift-card">
          <ion-card-header>
            <ion-item detail="false" lines="none">
              <ion-avatar slot="start">
                <img [src]="shift.profilePic" [alt]="shift.name + ' profile picture'">
              </ion-avatar>
              {{shift.name}}
            </ion-item>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item routerLink="/shift-report">
                <a>Add new shift report</a>
              </ion-item>

              <ion-item *ngFor="let session of shift.sessions" routerLink="/app/tabs/shifts/session/{{session.id}}">
                <h3>{{session.name}}</h3>
              </ion-item>

              <ion-item routerLink="/app/tabs/shifts/shift-details/{{shift.id}}">
                <h3>Policies {{shift.name}}</h3>
              </ion-item>
            </ion-list>
          </ion-card-content>

          <ion-row class="ion-no-padding ion-justify-content-center">
            <ion-col size="4" class="ion-text-left">
              <ion-button fill="clear" size="small" color="primary" (click)="goToShiftTwitter(shift)">
                <ion-icon name="logo-twitter" slot="start"></ion-icon>
                Tweet
              </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <ion-button fill="clear" size="small" color="primary" (click)="openShiftShare(shift)">
                <ion-icon name="share-alt" slot="start"></ion-icon>
                Share
              </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-text-right">
              <ion-button fill="clear" size="small" color="primary" (click)="openContact(shift)">
                <ion-icon name="chatboxes" slot="start"></ion-icon>
                Contact
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
