h2{
  font-weight: bold; 
}

 .submit-btn{
    float: right;
 }

 .cancel-btn{
   float: left; 
}

 .night-shift-remove--btn{
color: red($color: #000000);
 }

 .night-shift-add--btn{
color: green($color: #000000) !important;
}

 
 