h2{
  font-weight: bold; 
}

ion-icon {
  color: #16b841;
  font-size: 1.5rem;
}
ion-icon.night-shift-remove--btn {
  color: red;
  font-size: 1.5rem;
}

 .submit-btn{
   
    float: right;
 }

 .cancel-btn{
   float: left; 
}

 .night-shift-remove--btn{
    color: red($color: #000000) !important;
    display: inline-block;
 }

 ion-icon.night-shift-add--btn{
  color: green($color: #000000) !important;
}
span{
  margin-left: 10px;
  margin-right: 10px;
}

 