<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <!-- Checks the user model for the information, currently in the ts file -->
  <div *ngIf="user" class="ion-padding-top ion-text-center">
    <img src="assets/img/NightPatrolVanLogo-noback.svg" alt="avatar">
    <!-- Looks to see if there is a preferred name-->
    <h2 *ngIf="user.pName && !displayFirstName">{{user.pName}}</h2> 
    <!-- If preferred name is empty, will display the first name-->
    <h2 *ngIf="!user.pName || displayFirstName">{{user.fName}}</h2>

    <ion-list inset>
      <!-- Current Shift goes to the shifts page, filter list of shifts later-->
      <ion-item (click)="currentShift()">Current Shifts</ion-item>
      <ion-item (click)="previousShift()">Previous Shifts</ion-item>
      <ion-item (click)="changePassword()">Change Password</ion-item>
      <ion-item (click)="logout()">Logout</ion-item>
    </ion-list>
  </div>
</ion-content>